.letters {
    position: absolute;
    left: 100px;
    top: 100px;
    border: 2px double;
    margin: 5px;
    padding: 5px;
    color: #F00;
    background-color: #0fc;
    font-family: 'Courier New', Courier, monospace;
}

.blanks {
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    margin: 5px;
    padding: 5px;
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
